<div class="container bg-dark text-light" >
    <div class="row align-items-center ml-5" style="min-height: 400px">
      <div class="col">
          <h1 class="display-2">JETS<sub>:</sub> ON</h1>
          <p class="h3">HYBRID ASTRO</p>
          <button class="btn btn-light my-3">SHOP NOW</button>
      </div>
    </div>
</div>

<section class="my-5">
  <div class="container-fluid px-5">
    <div class="row no-gutters">
      <div class="col-4">
        <div class="card text-center border border-light">
          <img src="https://xrbu86-lh4lsj72oaxn.cloudmaestro.com/pnTTa8y_Q/media/wysiwyg/aRALPH-SAMSON_tproduct-banner.jpg.pagespeed.ic.eBjaw8DPmo.webp" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title d4">RALPH SAMPSON</h5>
            <h6 class="card-subtitle text-muted">larger than life</h6>
            <a href="#" class="btn btn-link my-3 text-dark ">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center border border-light">
          <img src="https://xrbu86-lh4lsj72oaxn.cloudmaestro.com/pnTTa8y_Q/media/wysiwyg/aRALPH-SAMSON_tproduct-banner.jpg.pagespeed.ic.eBjaw8DPmo.webp" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title d4">RALPH SAMPSON</h5>
            <h6 class="card-subtitle text-muted">larger than life</h6>
            <a href="#" class="btn btn-link my-3 text-dark ">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center border border-light">
          <img src="https://xrbu86-lh4lsj72oaxn.cloudmaestro.com/pnTTa8y_Q/media/wysiwyg/aRALPH-SAMSON_tproduct-banner.jpg.pagespeed.ic.eBjaw8DPmo.webp" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title d4">RALPH SAMPSON</h5>
            <h6 class="card-subtitle text-muted">larger than life</h6>
            <a href="#" class="btn btn-link my-3 text-dark ">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>