<div class="container">
  <h2 class="h2">CREATE AN ACCOUNT</h2>
  <hr>
  <p class="lead ">PERSONAL INFORMATION</p>
  <hr>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="form-group">
        <label for="Email"><small>Email</small></label>
        <input type="text" formControlName="email" class="form-control form-sm" id="email" placeholder="Email" email  >
        <ng-template [ngIf]="!loginForm.get('email').valid && loginForm.get('email').touched "><small class="text-danger">please enter valid email</small></ng-template>
    </div>
    <div class="form-group">
        <label for="Password"><small>Password</small></label>
        <input type="password" formControlName="password" class="form-control form-sm" id="password" placeholder="Password"  >
        <ng-template [ngIf]="!loginForm.get('password').valid && loginForm.get('password').touched "><small class="text-danger">please enter valid password</small></ng-template>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">submit</button><button type="reset" [disabled]="!loginForm.value" class="btn btn-info ml-2">reset</button>
    <a href="http://localhost:3000/user/passportgoogle" class="btn btn-danger btn-block my-2"><i class="fab fa-google-plus-g"></i> Google SignIn</a>
    <a href="http://localhost:3000/user/passportfacebook"  class="btn btn-primary btn-block my-2"><i class="fab fa-google-plus-g"></i> Facebook</a>
    <a href="http://localhost:3000/user/passportgithub" (click)="googleSignIn()" class="btn btn-info btn-block my-2"><i class="fab fa-google-plus-g"></i> twitter</a>
  </form>
</div>